* text=auto eol=lf

*.slnx text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.editorconfig text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.nupkg binary
*.snupkg binary
*.trx text eol=lf
