* text=auto eol=crlf

*.slnx text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.editorconfig text eol=crlf
*.md text eol=crlf
*.ps1 text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf

*.png binary
*.nupkg binary
*.snupkg binary
*.trx text eol=crlf
